In [48]:
from include import *
from data import *
import builtins
# import deepreload
%load_ext autoreload
data = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv')

relevant = ('mfr', 'fat', 'calories', 'name', 'rating')
target = 'rating'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [49]:
# %autoreload 2
# interactWithOutliers(data, 'mfr')

TypeError: could not convert string to float: 'N'

In [36]:
data.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [65]:
%autoreload 2
explore(data, target=target, start='Description', startFeature=None)
# quantitative(data)

GridBox(children=(Dropdown(description='Select Summary', options=('Description', 'Features', 'Head', 'Stats', …

Output()

In [42]:
%autoreload 2
'''
config = {
    # Do these to all the columns, or a specified column
    'all': {
        # If provided, specifies a method by which to convert a catagorical feature to a quantative one
        'drop_duplicates': True,
        'normalize': 'min-max',
        'convert_numeric': 'one_hot_encode',
        # If provided, specifies a method by which to normalize the quantative values
        # Drop duplicate samples
        # If provided, specifies a value that is equivalent to the feature being missing
        # 'missing_value': Any,
        # If provided, specifies a method by which to transform samples with missing features
        # 'handle_missing': Union[bool, 'remove', 'mean', 'median', 'mode', Any],
        # If provided, specifies a method by which to bin the quantative value, or specify custom ranges
        # 'bin': Union[bool, Tuple['frequency', int], Tuple['width', int], Iterable],
        # If provided, maps feature values to a dictionary
        # 'map': Union[bool, Dict],
        # If provided, removes all samples with the given value
        # 'remove': Union[bool, Any],
        # If provided, applies a function to the column
        # 'apply': Union[bool, Callable],
        # A ndarray of shape (1, n) of bools to apply to the column to create a new column with the given name
        # Usable on single columns only (not all)
        # 'create_new': Tuple[str, np.ndarray],
    },
    'calories': {
        # 'drop_duplicates': False,
        'missing_value': 70,
        'handle_missing': 'mean',
        # 'normalize': 'range',
        'bin': ('frequency', 7),
        # 'map': Union[bool, Dict],
        # 'remove': True,
        'convert_numeric': 'assign',
        # 'apply': Union[bool, Callable],
        # 'create_new': Tuple[str, np.ndarray],
    },
    'name': {
        # 'normalize': 'range',
        'drop_duplicates': False,
        'remove': 'Almond Delight',
        'convert_numeric': 'one_hot_encode',
        # 'missing_value': Any,
        # 'handle_missing': Union[bool, 'remove', 'mean', 'median', 'mode', Any],
        # 'bin': Union[bool, Tuple['frequency', int], Tuple['width', int], Iterable],
        # 'map': Union[bool, Dict],
        # 'remove': True,
        # 'apply': Union[bool, Callable],
        # 'create_new': Tuple[str, np.ndarray],
    },
    'fat': {'drop': True}
} 
'''
config = {
        # Do these to all the columns, or a specified column
        'all': {
            # Drop the column
            # 'drop': True,
            # Drop duplicate samples
            # 'drop_duplicates': True,
            # If provided, maps feature values to a dictionary
            # 'replace': {
            #     0: 9999,
            #     'K': 'NOT K',
            #     8: 1000
            # },
            # If provided, applies a function to the column
            # 'apply': lambda a: 'HERE' if a == 'K' else a,
            # If provided, specifies a value that is equivalent to the feature being missing
            # 'missing_value': 3,
            # If provided, specifies a method by which to transform samples with missing features
            # 'handle_missing': Union[bool, 'remove', 'mean', 'median', 'mode', Any],
            # 'handle_missing': 'balanced_random',
            
            # If provided, specifies a method by which to bin the quantative value, or specify custom ranges
            # 'bin': Union[bool, Tuple['frequency', int], Tuple['width', int], Iterable],
            # 'bin': (0, 50, 80, 200),
            # If provided, removes all samples with the given value
            # 'remove': 'K',
            # A ndarray of shape (1, n) of bools to apply to the column to create a new column with the given name
            'add_column': ('yo mamas potass', data['potass'][data['potass'] > 200]),
            # If provided, specifies a method by which to normalize the quantative values
            # 'normalize': Union[bool, 'min-max', 'range'],
            # 'normalize': True,
            # If provided, specifies a method by which to convert a catagorical feature to a quantative one
            # 'convert_numeric': Union[bool, 'assign', 'one_hot_encode'],
            # 'convert_numeric': 'one_hot_encode',
    },
        'mfr': {
            # Drop the column
            # 'drop': False,
            # Drop duplicate samples
            # 'drop_duplicates': False,
            # If provided, maps feature values to a dictionary
            # 'replace': False,
            # If provided, applies a function to the column
            # 'apply': False,
            # If provided, specifies a value that is equivalent to the feature being missing
            # 'missing_value': 'K',
            # If provided, specifies a method by which to transform samples with missing features
            # 'handle_missing': Union[bool, 'remove', 'mean', 'median', 'mode', Any],
            # 'handle_missing': data.type,
            # If provided, specifies a method by which to bin the quantative value, or specify custom ranges
            # 'bin': Union[bool, Tuple['frequency', int], Tuple['width', int], Iterable],
            # 'bin': (0, 50, 80, 200),
            # If provided, removes all samples with the given value
            # 'remove': 'K',
            # A ndarray of shape (1, n) of bools to apply to the column to create a new column with the given name
            # 'add_column': ('yo mamas potass', data['potass'][data['potass'] > 200]),
            # If provided, specifies a method by which to normalize the quantative values
            # 'normalize': Union[bool, 'min-max', 'range'],
            # 'normalize': True,
            # If provided, specifies a method by which to convert a catagorical feature to a quantative one
            # 'convert_numeric': Union[bool, 'assign', 'one_hot_encode'],
            # 'convert_numeric': False,
            # 'queries': False
        },
    'fiber':{
        'queries': ('calories > 100', data.protein),
    },
    'name':{'convert_numeric':'assign'}
}

# unclean = insertSample(data, data.iloc[1], index=0)
unclean = data.copy()
display(unclean.head())
clean(unclean, config, verbose=True).head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

Working on "mfr"
Working on "fiber"
	Changing all samples where "calories > 100" is true to have the fiber values of their indecies in "protein"
Working on "name"
	Converting "name" to quantatative by assinging to arbitrary values
Working on "all"
	Adding new column "yo mamas potass"
	Excluding column name from convert_numeric
	Excluding column fiber from queries

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,yo mamas potass
0,0,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,280.0
1,1,Q,C,120,3,5,15,3.0,8.0,8,135,0,3,1.0,1.00,33.983679,NaN
2,2,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,320.0
3,3,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,330.0
4,4,R,C,110,2,2,200,2.0,14.0,8,-1,25,3,1.0,0.75,34.384843,NaN

In [31]:
%autoreload 2

# data.name._get_numeric_data()   
_catagoricalTypes = ['bool', 'bool_', 'object', 'object_', 'Interval', 'bool8', 'category']
_quantitativeTypes = ['number']
_timeTypes = ['datetimetz', 'timedelta', 'datetime']
# data.select_dtypes(include=_quantitativeTypes)
# data.select_dtypes(include=_catagoricalTypes)
# data.select_dtypes(include=_timeTypes)
assert np.all(data.select_dtypes(include=_catagoricalTypes) == data.select_dtypes(exclude=_quantitativeTypes))
assert np.all(data.select_dtypes(exclude=_catagoricalTypes) == data.select_dtypes(include=_quantitativeTypes))
# data.cups.dtype
# data.cups in 
# quantataetive(data.cups)
data.cups.name in catagorical(pd.DataFrame(data.cups))

False